{% extends 'baseTemplate.html.twig' %}
{% block title %}Create Group{% endblock %}
{% block stylesheet %}
<style>
	body,
	html {
		height: 100%;
		margin: 0;
		background: #7F7FD5;
		background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
		background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
	}

	.chat {
		margin-top: auto;
		margin-bottom: auto;
	}

	.card {
		height: 500px;
		border-radius: 15px !important;
		background-color: rgba(0, 0, 0, 0.4) !important;
	}

	.power-off{
		width: 7%;
		height: auto;
		margin-left: 93%;
		margin-top: -8%;
	}

	.return{
		width: 7%;
		height: auto;
		margin-top: -15%;
	}

	.contacts_body {
		padding: 0.75rem 0 !important;
		overflow-y: auto;
		white-space: nowrap;
	}

	.msg_card_body {
		overflow-y: auto;
	}

	.card-header {
		border-radius: 15px 15px 0 0 !important;
		border-bottom: 0 !important;
	}

	.card-footer {
		border-radius: 0 0 15px 15px !important;
		border-top: 0 !important;
	}

	.container {
		align-content: center;
	}


</style>
{% endblock %}
{% block body %}
<div class="container-fluid h-100">
	<div class="row justify-content-center h-100">
		<div class="col-md-8 col-xl-6 chat">
			<div class="card d-flex">
			
				<div class="justify-content-around card-header msg_head">
					<div class="text-white bd-highlight">
						<div class="user_info text-center">
							<h1>Create new group</h1>
						</div>
					</div>
					<div class="bd-highlight">
						<a href="{{ path('logout')}}">
							<img src="{{ asset('img/poweroff.png')}}" class="power-off">
						</a>
						<a href="{{ path('groups-list')}}">
							<img src="{{ asset('img/return.png')}}" class="return">
						</a>
					</div>
				</div>

				<div class="card-body msg_card_body">
				<div class="container col-md-6">
					{{ form_start(CreateGroupType) }}
                    {# name #}
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-signature"></i></i></span>
							</div>
						{{ form_widget(CreateGroupType.name, { 'attr' : {
                            'placeholder' : 'name',
                            'class' : 'form-group'
                        }})}}
                        {{ form_errors(CreateGroupType.name) }}

                    {# picture #}
                        <div class="input-group mb-3 mt-4">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-file-image"></i></span>
							</div>
						{{ form_widget(CreateGroupType.file, { 'attr' : {
                            'placeholder' : 'group image',
                            'class' : 'form-group'
                        }})}}
                        {{ form_errors(CreateGroupType.file) }}
						</div>

				 	    {{ form_end(CreateGroupType) }}

					<div class="d-flex justify-content-center mt-3 login_container">
				    </div>

                                        
				</div>
		
				</div>

			</div>
		</div>
	</div>
</div>

{% endblock %}