{% extends 'groupBase.html.twig' %}

{% block conversations %}
	{% for group in groups %}
		<a href="{{ path('group-conversation', { id : group.id }) }}">
			<li>
				<div class="d-flex bd-highlight">
					<div class="img_cont">
						{% if group.picture != null %}
							<img src="{{ asset('photo/group/' ~ group.picture) }}" class="rounded-circle user_img">

						{% else %}

							<img src="{{ asset('img/defaultGroup.png') }}" class="rounded-circle user_img">
						{% endif %}
						<span class="online_icon"></span>
					</div>
					<div class="user_info">
						<span>{{ group.name }}</span>
						<p>
							{% for user in group.users %}
								{{ user.username }}
							{% endfor %}
						</p>
					</div>
				</div>
			</li>
		</a>
	{% endfor %}
{% endblock %}

{% block conversationPicture %}
	{% if actualGroup.picture != null %}
		<img src="{{ asset('photo/profile/' ~ actualGroup.picture) }}" class="rounded-circle user_img">
	{% else %}

		<img src="{{ asset('img/defaultGroup.png') }}" class="rounded-circle user_img">
	{% endif %}

{% endblock %}

{% block conversationName %}
	{{ actualGroup.name }}
{% endblock %}

{% block conversationInfo %}
	{% for user in actualGroup.users %}
		{{ user.username }}
	{% endfor %}
{% endblock %}

{% block messages %}
	{% for message in actualGroup.messages %}
		{% if message.user == app.user %}
			<div class="d-flex justify-content-end mb-4">
				<div class="msg_cotainer_send">
					{{ message.content }}
					<span class="msg_time_send">{{ message.date | date('d/m/Y H:i') }}</span>
				</div>
				<div class="img_cont_msg">
					{% if message.user.picture != null %}
						<img src="{{ asset('photo/profile/' ~ message.user.picture) }}" class="rounded-circle user_img_msg">

					{% else %}
						<img src="{{ asset('img/defaultProfile.png') }}" class="rounded-circle user_img_msg">
					{% endif %}
				</div>
			</div>
		{% else %}
			<div class="d-flex justify-content-start mb-4">
				<div class="img_cont_msg">
					{% if message.user.picture != null %}
						<img src="{{ asset('photo/' ~ message.user.picture) }}" class="rounded-circle user_img_msg">

					{% else %}
						<img src="{{ asset('img/defaultProfile.png') }}" class="rounded-circle user_img_msg">
					{% endif %}
				</div>
				<div class="msg_cotainer">
					{{ message.content }}
					<span class="msg_time">{{ message.date | date('d/m/Y H:i') }}</span>
				</div>
			</div>
		{% endif %}
	{% endfor %}
{% endblock %}
