{% extends 'base.html.twig' %}

{% block title %}Login Page{% endblock %}

{% block body %}
<div class="container text-center mt-4">
    <h3 class="text-white">Create account</h3>
</div>

<div class="mt-4 container text-center">

    {{ form_start(RegisterFormType) }}
    <form class="container text-center">
    <label class="text-white">Email</label>
        <div class="form-group">
            {{ form_widget(RegisterFormType.email, { 'attr' : {
        'placeholder' : 'email',
        'class' : 'form-group'
        }})}}
            {{ form_errors(RegisterFormType.email) }}

        </div>

        <div class="form-group">
            <label class="text-white">Username</label>
            {{ form_widget(RegisterFormType.username, { 'attr' : {
        'placeholder' : 'username',
        'class' : 'form-group'
        }})}}
            {{ form_errors(RegisterFormType.username) }}

        </div>

        <div class="form-group">
            <label class="text-white">Password</label>
            {{ form_widget(RegisterFormType.password, { 'attr' : {
        'placeholder' : 'password',
        'class' : 'form-group'
        }})}}
            {{ form_errors(RegisterFormType.password) }}
        </div>
        {{ form_end(RegisterFormType) }}

    </form>
</div>

<div class="text-white text-center container mt-4">
   You have already an account? <a class="text-white" href="{{ path('login') }}">Login now!</a>
</div>

{% endblock %}