{% extends 'formBase.html.twig' %}

{% block title %}Register
{% endblock %}

{% block form %}
	{{ form_start(RegisterFormType) }}
	{# email #}
	<div class="input-group mb-3">
		<div class="input-group-append">
			<span class="input-group-text">
				<i class="fas fa-envelope"></i>
			</span>
		</div>
		{{ form_widget(RegisterFormType.email, { 'attr' : {
                            'placeholder' : 'email',
                            'class' : 'form-group'
                        }})}}
		{{ form_errors(RegisterFormType.email) }}

	</div>
	{# username #}
	<div class="input-group mb-2">
		<div class="input-group-append">
			<span class="input-group-text">
				<i class="fas fa-user"></i>
			</span>
		</div>
		{{ form_widget(RegisterFormType.username, { 'attr' : {
                            'placeholder' : 'username',
                            'class' : 'form-group'
                        }})}}
		{{ form_errors(RegisterFormType.username) }}
	</div>

	{# password #}
	<div class="input-group mb-3">
		<div class="input-group-append">
			<span class="input-group-text">
				<i class="fas fa-key"></i>
			</span>
		</div>
		{{ form_widget(RegisterFormType.password, { 'attr' : {
                            'placeholder' : 'password',
                            'class' : 'form-group',
                            'type' : 'password'
                        }})}}
		{{ form_errors(RegisterFormType.password) }}
	</div>

	{# picture #}
	<div class="input-group mb-3">
		<div class="input-group-append">
			<span class="input-group-text">
				<i class="fas fa-file-image"></i>
			</span>
		</div>
		{{ form_widget(RegisterFormType.file, { 'attr' : {
                            'placeholder' : 'picture',
                            'class' : 'form-group'
                        }})}}
		{{ form_errors(RegisterFormType.file) }}
	</div>


	<div class="d-flex justify-content-center mt-3 login_container">
		{{ form_end(RegisterFormType) }}
	</div>
{% endblock %}

{% block link %}
	Have already an account?
	<a href="{{ path('login')}}" class="ml-2">Sign In</a>
{% endblock %}
